.tdf-form-container {
  .box-cover {
    margin: 30px auto;
    border: 1px solid #ccc;
    padding: 10px;

    h1 {
      text-align: center;
    }

    .form-check-input:first-child + label {
      margin-right: 60px;
    }

    .btn-primary {
      display: block;
      margin: 0 auto;
    }
  }
}
